.pokemon-container {
  text-align: center;
}

body {
  font-family: 'Poppins', sans-serif; /* Choose a font you like */
  background-color: #f0f0f0;
}

.container {
  max-width: 600px;
  height: 1200px;
  border-radius: 20px; /* Adjust the radius as needed */
  background-color: #f5f5f5;
  border-style: solid;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  padding: 30px;
  margin: 22px auto;
  overflow-y: auto; /* Center the container horizontally */
}


#pokemon-select {
  font-size: 16px;
  padding: 10px;
}

#catch-button {
  font-size: 18px;
  padding: 12px 20px;
}

#result-message {
  font-size: 18px;
  font-weight: bold;
  color: #008000; /* Green for success */
}

#caught-pokemon-list {
  list-style: none;
  padding: 0;
}

#caught-pokemon-list li {
  margin: 10px 0;
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
h1 {
  padding-top: 30px;
  font-family: "Press Start 2P", cursive;
}

.custom-alert {
  background-color: #ffdddd; /* Light pink for a warning */
  color: #ff0000;
  border: 1px solid #ff0000;
  padding: 10px;
  border-radius: 5px;
  text-align: center;
}

#pokemon-list {
  list-style: none; /* Remove default bullet points */
  padding: 0; /* Remove default padding */
  margin: 0; /* Remove default margin */
  cursor: pointer; /* Change cursor to indicate selection on hover */
}

#pokemon-list li {
  padding: 10px; /* Add padding for spacing */
  border-bottom: 1px solid #ccc; /* Add a border to separate list items */
}

#pokemon-list li:hover {
  background-color: #eee; /* Change background color on hover */
}

#pokemon-list li.selected {
  background-color: #99ff99; /* Highlight the selected item */
}

#result-message {
  margin-top: 10px; /* Or use mb-3 for Bootstrap's margin utility */
  font-weight: bold;
  color: green; /* Change to text-success for Bootstrap's success color */
}

.shiny-animation {
  animation: sparkle 2s infinite;
}

@keyframes sparkle {
  0% {
    color: #fce062; /* Adjust the color as desired */
    text-shadow: 0 0 10px #f85408, 0 0 20px #f85408, 0 0 30px #f85408;
  }
  50% {
    color: #ffffff;
  }
  100% {
    color: #f85408;
  }
}

