body {
  font-family: "Press Start 2P";
  font-weight: 400;
  background-color: #fefefe;
}

p {
  font-family: "Press Start 2P", system-ui;
  font-weight: 400;
}

h2 {
  padding-top: 20px;
  font-family: "Press Start 2P", system-ui;
  font-weight: 600;
}
.poke-container {
  max-width: 900px;
  height: 1200px;
  border-radius: 40px; 
  background-color: #eceaea;
  box-shadow: 4px 8px 8px rgba(0, 0, 0, 0.1);
  padding: 30px;
  margin: 22px auto;
  overflow-y: auto; 
  text-align: center;
}

#pokemon-select {
  font-size: 16px;
  padding: 10px;
}

#pokemon-sprite {
  width: 150px;
  height: 150px;
}

#catch-button {
  font-size: 18px;
  padding: 12px 20px;
  width: 100%;
}

#result-message {
  font-size: 18px;
  font-weight: bold;
  color: #008000;
}

#caught-pokemon-list {
  list-style: none;
  padding: 0;
}

#caught-pokemon-list li {
  margin: 10px 0;
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

h1 {
  padding-top: 30px;
  font-family: "Press Start 2P", cursive;
}

.custom-alert {
  background-color: #ffdddd; 
  color: #ff0000;
  border: 1px solid #ff0000;
  padding: 10px;
  border-radius: 5px;
  text-align: center;
}

#pokemon-list {
  list-style: none; 
  padding: 0; 
  margin: 0; 
  cursor: pointer; 
}

#pokemon-list li {
  padding: 10px; 
  border-bottom: 1px solid #ccc; 
}

#pokemon-list li:hover {
  background-color: #eee; 
}

#pokemon-list li.selected {
  background-color: #99ff99; 
}

#result-message {
  margin-top: 10px; 
  font-weight: bold;
  color: green; 
}

.shiny-animation {
  animation: sparkle 2s infinite;
}

@keyframes sparkle {
  0% {
    color: #fce062; 
    text-shadow: 0 0 10px #f85408, 0 0 20px #f85408, 0 0 30px #f85408;
  }
  50% {
    color: #ffffff;
  }
  100% {
    color: #f85408;
  }
}

